<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="wai-notify-001" version="1.0.3">
<!-- <widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.wai.push" version="1.0.2"> -->
<!-- <widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="nms.wai.001" version="1.0.2"> -->
	<name>Notify</name>
	<!-- <name>com.wai.push</name> -->
	<description>Prueba de Notificaciones</description>
	<author href="www.wai-news.com" email="support@wai-news.com">WAI IT Team</author>
	<content src="index.html"/>
	<!-- IOS Only -->
	<preference name="target-device" value="universal"/>
	<preference name="prerendered-icon" value="true"/>
	<preference name="ios-statusbarstyle" value="black-opaque"/>
	<preference name="detect-data-types" value="true"/>
	<preference name="exit-on-suspend" value="false"/>
	<preference name="EnableViewportScale" value="true"/>
	<!-- Android Only -->
	<preference name="android-build-tool" value="ant" />
	<preference name="android-minSdkVersion" value="8"/>
	<!-- <preference name="android-maxSdkVersion" value="14"/> -->
	<!-- <preference name="android-installLocation" value="auto"/> -->
	<!-- General -->
	<preference name="permissions" value="none"/>
	<preference name="orientation" value="portrait"/>
	<preference name="fullscreen" value="false"/>
	<preference name="webviewbounce" value="true"/>
	<preference name="stay-in-webview" value="false"/>
	<preference name="show-splash-screen-spinner" value="true"/>
	<preference name="auto-hide-splash-screen" value="true"/>
	<preference name="disable-cursor" value="false"/>
	<!-- plugins -->
	<!-- <gap:plugin name="org.apache.cordova.battery-status"/> -->
	<!-- <gap:plugin name="org.apache.cordova.camera"/> -->
	<!-- <gap:plugin name="org.apache.cordova.media-capture"/> -->
	<!-- <gap:plugin name="org.apache.cordova.console"/> -->
	<!-- <gap:plugin name="org.apache.cordova.contacts"/> -->
	<gap:plugin name="org.apache.cordova.device"/>
	<!-- <gap:plugin name="org.apache.cordova.device-motion"/> -->
	<!-- <gap:plugin name="org.apache.cordova.device-orientation"/> -->
	<gap:plugin name="org.apache.cordova.dialogs"/>
	<!-- <gap:plugin name="org.apache.cordova.file"/> -->
	<!-- <gap:plugin name="org.apache.cordova.file-transfer"/> -->
	<!-- <gap:plugin name="org.apache.cordova.geolocation"/> -->
	<!-- <gap:plugin name="org.apache.cordova.globalization"/> -->
	<gap:plugin name="org.apache.cordova.inappbrowser"/>
	<gap:plugin name="org.apache.cordova.media"/>
	<gap:plugin name="org.apache.cordova.network-information"/>
	<gap:plugin name="org.apache.cordova.splashscreen"/>
	<!-- <gap:plugin name="org.apache.cordova.vibration"/> -->
	<!-- <gap:plugin name="cordova-plugin-whitelist"/> -->
	<gap:plugin name="com.phonegap.plugins.pushplugin"/>
	<!-- <gap:plugin name="phonegap-plugin-push" source="npm" /> -->

	<platform name="android">
		<allow-intent href="market:*"/>
		<!-- icon -->
		<icon src="res/icon/android/ldpi.png" qualifier="ldpi" />
		<icon src="res/icon/android/mdpi.png" qualifier="mdpi" />
		<icon src="res/icon/android/hdpi.png" qualifier="hdpi" />
		<icon src="res/icon/android/xhdpi.png" qualifier="xhdpi" />
		<icon src="res/icon/android/xxhdpi.png" qualifier="xxhdpi" />
		<icon src="res/icon/android/xxxhdpi.png" qualifier="xxxhdpi" />
	</platform>

	<feature name="InAppBrowser">
	    <param name="ios-package" value="CDVInAppBrowser" />
	</feature>

	<access origin="*"/>
	<allow-intent href="http://*/*"/>
	<allow-intent href="https://*/*"/>
	<allow-intent href="tel:*"/>
	<allow-intent href="sms:*"/>
	<allow-intent href="mailto:*"/>
	<allow-intent href="geo:*"/>
	<allow-intent href="http://wai-news.com/*" />
</widget>