[submodule "SDK/iPhone"]
	path = SDK/iPhone
	url = https://github.com/shaders/pushwoosh-ios-sdk.git
[submodule "SDK/Android"]
	path = SDK/Android
	url = https://github.com/shaders/pushwoosh-android-sdk.git
[submodule "SDK/BlackBerry"]
	path = SDK/BlackBerry
	url = https://github.com/shaders/pushwoosh-blackberry-sdk.git
[submodule "SDK/Mac"]
	path = SDK/Mac
	url = https://github.com/shaders/pushwoosh-mac-sdk.git
[submodule "SDK/WP"]
	path = SDK/WP
	url = https://github.com/shaders/pushwoosh-windows-phone-sdk.git
[submodule "SDK/Win8"]
	path = SDK/Win8
	url = https://github.com/shaders/pushwoosh-windows-8-sdk.git
[submodule "SDK/iPhone-ARC"]
	path = SDK/iPhone-ARC
	url = https://github.com/shaders/pushwoosh-ios-arc-sdk.git
[submodule "SDK Sample Projects"]
	path = SDK Sample Projects
	url = https://github.com/shaders/pushwoosh-sdk-samples.git
